/* Estilos generales */
:root {
   --celeste:#90eef9;
   --rojo: #ff3131;
   --plomo:#d9d9d9;
   --negro:#000;
  }
body {
  font-family: Arial, sans-serif;
  background-image: linear-gradient(to top, #ff3131, #ff5074, #fe77a9, #eb9bcd, #d9b9de, #d2c6e6, #d0d1e9, #d5dbe8, #cadef3, #b9e3fa, #a4e9fd, #90eef9);
}
header{
    padding: 10px;
}

header h1{
    color:var(--rojo);
    font-size: 50px;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 800px;
    padding: 6px;

}
header p{
    color: #000;
    font-size: 20px;
    margin-left: 100px;
    margin-right: 800px;
    padding: 6px;

}
.logo {
    width: 100px; /* Ajusta el ancho a tu gusto */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-left: 10px; 
    margin-top:  0px;;/* Ajusta el margen según sea necesario */
    float: left;
    position: fixed;
}
.llama{
    width: 810px; /* Ajusta el ancho a tu gusto */
    height: auto; /* Mantiene la proporción de la imagen */
    float: right;
    margin:auto;
}
main {
  padding: 20px;
}
#form-section h2{
    background-color: var(--rojo);
    text-align: center;
    color:white;
    font-size: 25px;
}
/* Estilo del contenedor de la cuadrícula */
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    text-align: justify;
  }
    li {
    display: flex;
    box-sizing: border-box;
    flex: 1 1 calc(25% - 20px);
    background-color: var(--plomo); /* Color de fondo claro */
    padding: 20px;
    border: 0.3px solid var(--negro);
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 10px 10px 10px rgba(2, 2, 2, 2); /* Sombra suave */
    margin-bottom: 20px;
    }
footer{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 30px;
    background-color: var(--rojo);
    text-align: center;
    color:white;
}
form{
    font-family: Arial, sans-serif;
    margin-left: 100px;
}
